.bottle {
  border: 5px solid salmon;
  border-radius: 15px;
  padding: 15px;
}

img {
  width: 200px;
}

.bottle-button {
  background-color: aquamarine;
  border: 2px solid blueviolet;
  border-radius: 5px;
}
